@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Alata:regular);
:root {
  --black: hsl(0, 0%, 0%);
  --DarkGray: hsl(0, 0%, 55%);
  --VeryDarkGray: hsl(0, 0%, 41%);
  --white: hsl(0, 0%, 100%);
  --fontSize: 18px;
  --fontWeight4: 400;
  --fontWeight3: 300;
}

.navigation-bar {
  background-image: url(../images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: top;
  height: calc(102vh - 12.8px);
}

.navigationBarBlack {
  background-image: url(../images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: top;
  height: calc(102vh - 12.8px);
}

nav {
  margin: 0 auto;
  display: flex;
  width: 85%;
  min-height: calc(12vh - 12.8px);
}

div.header-container {
  flex: 1;
  display: flex;
  align-items: center;
}

div.links-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  width: 90%;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
  font-weight: var(--fontWeight3);
  color: var(--white);
  font-size: var(--fontSize);
  justify-content: space-around;
}

.nav-links-mobile {
  display: flex;
  width: 90%;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
  font-weight: var(--fontWeight3);
  color: var(--white);
  font-size: var(--fontSize);
  justify-content: space-around;
}

li.nav-links-item {
  list-style: none;
}

li.nav-links-item > a {
  color: var(--white);
  font-size: var(--fontSize);
  text-decoration: none;
  font-weight: var(--fontWeight4);
}

li.nav-links-item > a:hover {
  text-decoration: white;
  text-decoration: underline;
  text-underline-offset: 5px;
}

div.logo-container {
  display: flex;
}

div.navbar-brand-container {
  flex: 1;
}

div.navigation-icons-container {
  flex: 1;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburgerAppear {
  display: none;
  cursor: pointer;
}

.closeButton {
  display: none;
  cursor: pointer;
}

.closeButtonAppear {
  display: none;
  cursor: pointer;
}

.box-container {
  width: 85%;
  /* max-width: 700px; */
  margin: 0 auto;
  position: relative;
  top: 200px;
}

.text-container {
  max-width: 600px;
  width: 100%;
}
.headerText {
  text-transform: uppercase;
  font-size: Clamp(2.5rem, 5vw, 4rem);
  padding: 0.6em;
  font-family: "Josefin Sans", sans-serif;
  border: 1px solid var(--white);
  font-weight: var(--fontWeight3);
  /* font-size: 30px; */
  color: var(--white);
}

.headerTextDisappear {
  text-transform: uppercase;
  font-size: Clamp(2.5rem, 5vw, 4rem);
  padding: 0.6em;
  font-family: "Josefin Sans", sans-serif;
  border: 1px solid var(--white);
  font-weight: var(--fontWeight3);
  /* font-size: 30px; */
  color: var(--white);
}

/* second section */
.MiddleSection {
  width: 100%;
}

.OverallContainer {
  width: 100%;
  padding: 3.75rem 0;
  display: grid;
  place-items: center;
}

.containerForImage {
  width: 85%;
  display: flex;
}

.background-image {
  /* position: relative; */
  z-index: 5;
  flex: 1;
}

.TextContentContainer {
  flex: 1;
  /* display: grid;
  place-items: center; */
  position: relative;
}

.image-container {
  width: 100%;
}

.desktop {
  width: 620px
}

.mobile {
  display: none;
}

.textContainer {
  position: absolute;
  left: -140px;
  width: min(600px, 90%);
  bottom: 4px;
  display: grid;
  place-items: center;
  z-index: 20;
  background-color: var(--white);
}

.clatter {
  width: min(500px, 90%);
}

.title {
  font-family: "Josefin Sans", sans-serif;
  font-size: Clamp(2.5rem, 5vw, 2.7rem);
  color: var(--black);
  margin-bottom: 0.3rem;
  font-weight: var(--fontWeight3);
  text-transform: uppercase;
}

.titleDescription {
  font-family: "Alata", sans-serif;
  font-size: Clamp(0.2rem, 5vw, 0.9rem);
  padding-top: 1rem;
  line-height: 1.5;
  font-weight: var(--fontWeight4);
  color: var(--VeryDarkGray);
}

/* for tablet and mobile phones */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  div.links-container-close {
    display: none;
  }

  .navigationBarBlack {
    background-image: none;
    height: calc(102vh - 12.8px);
    display: block;
    background-color: var(--black);
  }
  .headerTextDisappear {
    display: none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    width: 100%;
  }
  .nav-links {
    display: none;
  }

  .containerForImage {
    flex-direction: column;
  }

  .nav-links-mobile {
    flex-direction: column;
    padding-top: 10rem;
  }

  .hamburgerAppear {
    display: block;
    float: right;
    margin-top: 0.3rem;
  }

  .closeButton {
    display: block;
    margin-top: 0.3rem;
    cursor: pointer;
    float: right;
  }

  .closeButtonAppear {
    display: none;
    cursor: pointer;
    float: right;
  }

  ul > li.nav-links-item {
    padding: 0.7rem 0rem;
  }

  li.nav-links-item > a {
    text-transform: uppercase;
    font-weight: var(--fontWeight4);
    letter-spacing: 2px;
  }
  div.logo-container {
    width: 100%;
  }
  div.header-container {
    margin-top: 1.4rem;
  }
  svg.hamburger {
    margin-top: 0.4rem;
  }

  .TextContentContainer {
    position: static;
  }

  .textContainer {
    position: static;
    padding-right: 0rem;
  }

  .title {
    padding-left: 0rem;
    padding-top: 0rem;
  }

  .titleDescription {
    padding-left: 0rem;
    text-align: center;
  }

  .title {
    text-align: center;
    padding-top: 0.5em;
  }
}
