@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Alata:regular);
:root {
  --black: hsl(0, 0%, 0%);
  --DarkGray: hsl(0, 0%, 55%);
  --VeryDarkGray: hsl(0, 0%, 41%);
  --white: hsl(0, 0%, 100%);
  --fontSize: 18px;
  --fontWeight4: 400;
  --fontWeight3: 300;
}

.navigation-bar {
  background-image: url(../images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: top;
  height: calc(102vh - 12.8px);
}

.navigationBarBlack {
  background-image: url(../images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: top;
  height: calc(102vh - 12.8px);
}

nav {
  margin: 0 auto;
  display: flex;
  width: 85%;
  min-height: calc(12vh - 12.8px);
}

div.header-container {
  flex: 1;
  display: flex;
  align-items: center;
}

div.links-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  width: 90%;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
  font-weight: var(--fontWeight3);
  color: var(--white);
  font-size: var(--fontSize);
  justify-content: space-around;
}

.nav-links-mobile {
  display: flex;
  width: 90%;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
  font-weight: var(--fontWeight3);
  color: var(--white);
  font-size: var(--fontSize);
  justify-content: space-around;
}

li.nav-links-item {
  list-style: none;
}

li.nav-links-item > a {
  color: var(--white);
  font-size: var(--fontSize);
  text-decoration: none;
  font-weight: var(--fontWeight4);
}

li.nav-links-item > a:hover {
  text-decoration: white;
  text-decoration: underline;
  text-underline-offset: 5px;
}

div.logo-container {
  display: flex;
}

div.navbar-brand-container {
  flex: 1;
}

div.navigation-icons-container {
  flex: 1;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburgerAppear {
  display: none;
  cursor: pointer;
}

.closeButton {
  display: none;
  cursor: pointer;
}

.closeButtonAppear {
  display: none;
  cursor: pointer;
}

.box-container {
  width: 85%;
  /* max-width: 700px; */
  margin: 0 auto;
  position: relative;
  top: 200px;
}

.text-container {
  max-width: 600px;
  width: 100%;
}
.headerText {
  text-transform: uppercase;
  font-size: Clamp(2.5rem, 5vw, 4rem);
  padding: 0.6em;
  font-family: "Josefin Sans", sans-serif;
  border: 1px solid var(--white);
  font-weight: var(--fontWeight3);
  /* font-size: 30px; */
  color: var(--white);
}

.headerTextDisappear {
  text-transform: uppercase;
  font-size: Clamp(2.5rem, 5vw, 4rem);
  padding: 0.6em;
  font-family: "Josefin Sans", sans-serif;
  border: 1px solid var(--white);
  font-weight: var(--fontWeight3);
  /* font-size: 30px; */
  color: var(--white);
}

/* second section */
#middleSection {
  width: 100%;
  padding: 6rem 0;
}

#middleSection .container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

#middleSection .wrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

#middleSection .image {
  flex: 3;
}

#middleSection .image img {
  width: 100%;
}

#middleSection .textContent {
  flex: 2;
  padding: 3rem 3rem 0rem 3rem;
  position: relative;
  left: -10rem;
  background-color: #fff;
}

.title {
  font-family: "Josefin Sans", sans-serif;
  font-size: Clamp(2.5rem, 5vw, 2.7rem);
  color: var(--black);
  margin-bottom: 0.3rem;
  font-weight: var(--fontWeight3);
  text-transform: uppercase;
}

.titleDescription {
  font-family: "Alata", sans-serif;
  font-size: Clamp(1.0625rem, 5vw, 0.9rem);
  padding-top: 1rem;
  line-height: 1.5;
  font-weight: var(--fontWeight4);
  color: var(--VeryDarkGray);
}

/* third Section */
#thirdSection {
  width: 90%;
  max-width: 1280px;
  padding: 5rem 0;
  margin: 0 auto;
}

.leftContent {
  font-family: "Josefin Sans", sans-serif;
  font-size: Clamp(2.5rem, 5vw, 2.7rem);
  color: var(--black);
  display: inline-block;
  margin-bottom: 0.3rem;
  font-weight: var(--fontWeight3);
  text-transform: uppercase;
}

.buttonSeeDesktop {
  float: right;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.7em 2.5em;
  letter-spacing: 4px;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid black;
  font-weight: var(--fontWeight4);
  text-transform: uppercase;
  font-size: Clamp(0.8rem, 5vw, 0.9rem);
}

.gridImageContainer {
  display: grid;
  margin: 2rem 0rem 5rem 0rem;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 600px);
}

.one {
  background-image: url(../images/desktop/image-deep-earth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

p.gridImageText {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: var(--white);
  margin-left: 3rem;
  margin-bottom: 2.9rem;
  font-weight: var(--fontWeight3);
  font-size: Clamp(2.3rem, 5vw, 2.5rem);
}

p.gridImageText5 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: var(--white);
  margin-left: 2rem;
  margin-bottom: 2.9rem;
  font-weight: var(--fontWeight3);
  font-size: Clamp(2.3rem, 5vw, 2.5rem);
}

p.gridImageText6 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: var(--white);
  margin-left: 2rem;
  margin-bottom: 2.9rem;
  font-weight: var(--fontWeight3);
  font-size: Clamp(2.3rem, 5vw, 2.5rem);
}

p.gridImageText7 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: var(--white);
  margin-left: 2rem;
  margin-bottom: 2.9rem;
  font-weight: var(--fontWeight3);
  font-size: Clamp(2.3rem, 5vw, 2.5rem);
}

.two {
  background-image: url(../images/desktop/image-night-arcade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.three {
  background-image: url(../images/desktop/image-soccer-team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.four {
  background-image: url(../images/desktop/image-grid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.five {
  background-image: url(../images/desktop/image-from-above.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.six {
  background-image: url(../images/desktop/image-pocket-borealis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.seven {
  background-image: url(../images/desktop/image-curiosity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.eight {
  background-image: url(../images/desktop/image-fisheye.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.centerButtonContainer {
  display: none;
}

.buttonSeeMobile {
  font-family: "Josefin Sans", sans-serif;
  padding: 0.7em 2.5em;
  letter-spacing: 4px;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid black;
  font-weight: var(--fontWeight4);
  text-transform: uppercase;
  font-size: Clamp(0.8rem, 5vw, 0.9rem);
}

div.overallContainer {
  width: 100%;
  background-color: var(--black);
}

div.footerContainer {
  width: 90%;
  max-width: 1280px;
  padding: 5rem 0;
  margin: 0 auto;
}

.footerTopContainer {
  display: flex;
}

.footerBrandContainer {
  flex: 1;
}

.footerSocialContainer {
  flex: 1;
}

div.socialIcons {
  float: right;
}

div.socialIcons > svg {
  margin: 0rem 0.5rem;
}

div.footerBottomContainer {
  display: flex;
}

div.footerLinkContainer {
  flex: 1;
}

div.footerCopyrightContainer {
  flex: 1;
  display: flex;
}

div.mobileSocialIcons {
  flex: 1;
  display: none;
}

div.textContainer {
  flex: 1;
}

p.copyrightText {
  font-family: "Josefin Sans", sans-serif;
  font-weight: var(--fontWeight3);
  color: var(--white);
  font-size: var(--fontSize);
  float: right;
  margin-top: 1.2rem;
}

ul.footerLinks {
  font-family: "Josefin Sans", sans-serif;
  font-weight: var(--fontWeight3);
  color: var(--white);
  font-size: var(--fontSize);
  display: flex;
  /* justify-content: space-between; */
}

li.footer-links-item {
  list-style: none;
  margin-right: 0.9rem;
  margin-top: 1.2rem;
}

li.footer-links-item > a {
  color: var(--white);
  font-size: var(--fontSize);
  text-decoration: none;
  font-weight: var(--fontWeight4);
}

li.footer-links-item > a:hover {
  text-decoration: white;
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* for tablet and mobile phones */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  div.links-container-close {
    display: none;
  }

  .navigationBarBlack {
    background-image: none;
    height: calc(102vh - 12.8px);
    display: block;
    background-color: var(--black);
  }

  .headerTextDisappear {
    display: none;
  }

  #middleSection .wrapper {
    flex-direction: column;
  }

  .nav-links {
    display: none;
  }

  .containerForImage {
    flex-direction: column;
  }

  .nav-links-mobile {
    flex-direction: column;
    padding-top: 10rem;
  }

  #middleSection .textContent {
    left: 0rem;
  }

  .hamburgerAppear {
    display: block;
    float: right;
    margin-top: 0.3rem;
  }

  .closeButton {
    display: block;
    margin-top: 0.3rem;
    cursor: pointer;
    float: right;
  }

  .closeButtonAppear {
    display: none;
    cursor: pointer;
    float: right;
  }

  ul > li.nav-links-item {
    padding: 0.7rem 0rem;
  }

  li.nav-links-item > a {
    text-transform: uppercase;
    font-weight: var(--fontWeight4);
    letter-spacing: 2px;
  }

  div.logo-container {
    width: 100%;
  }

  div.header-container {
    margin-top: 1.4rem;
  }

  svg.hamburger {
    margin-top: 0.4rem;
  }

  .TextContentContainer {
    position: static;
  }

  .textContainer {
    position: static;
    padding-right: 0rem;
  }

  .title {
    padding-left: 0rem;
    padding-top: 0rem;
  }

  .titleDescription {
    padding-left: 0rem;
    text-align: center;
  }

  .leftContent {
    text-align: center;
    display: block;
  }

  .title {
    text-align: center;
    padding-top: 0.5em;
  }

  .buttonSeeDesktop {
    display: none;
  }

  p.gridImageText {
    margin-bottom: 1rem;
    margin-left: 1.5rem;
  }

  .centerButtonContainer {
    margin: 4rem;
    display: flex;
    justify-content: center;
  }

  div.footerSocialContainer {
    display: none;
  }

  div.footerBrandContainer {
    text-align: center;
  }

  div.footerLinkContainer {
    text-align: center;
    margin-top: 0.9rem;
  }

  p.copyrightText {
    float: none;
    text-align: center;
  }

  div.footerBottomContainer {
    flex-direction: column;
  }

  ul.footerLinks {
    flex-direction: column;
  }

  div.mobileSocialIcons {
    display: block;
    text-align: center;
    margin: 1.5rem 0 0.9rem 0;
  }

  div.mobileSocialIcons > svg {
    margin: 0rem 0.5rem;
  }

  div.footerCopyrightContainer {
    flex-direction: column;
  }
}

/* for grid */
@media only screen and (max-width: 768px) {
  .gridImageContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 200px);
  }
  .one {
    background-image: url(../images/mobile//image-deep-earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
  }
  .two {
    background-image: url(../images/mobile/image-night-arcade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
  }
  .three {
    background-image: url(../images/mobile/image-soccer-team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
  }

  .four {
    background-image: url(../images/mobile/image-grid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
  }

  .five {
    background-image: url(../images/mobile/image-from-above.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
  }
  .six {
    background-image: url(../images/mobile/image-pocket-borealis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
  }
  .seven {
    background-image: url(../images/mobile/image-curiosity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
  }

  .eight {
    background-image: url(../images/mobile/image-fisheye.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
  }
}
